<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/log1.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="login">
  <h1>Login</h1>
    <form action="login" method="post">
        {% csrf_token %}
      <input type="text" name="u" placeholder="Username" required="required" />
        <input type="password" name="p" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
    </form>
</div>
</body>
</html>

